<div class="row row justify-content-center align-self-center">
  <div [hidden]="submitted" style="width: 500px;" >
    <h3>Add Doctor Information</h3>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="doctorname">Doctor Name</label>
        <input type="text" class="form-control" id="doctorname" required [(ngModel)]="doctor.doctorname" name="doctorname">
      </div>

      <div class="form-group">
        <label for="speciality">Speciality</label>
        <input type="text" class="form-control" id="speciality" required [(ngModel)]="doctor.speciality" name="speciality">
      </div>

      <div class="form-group">
        <label for="doctor_address">Doctor Address</label>
        <input type="text" class="form-control" id="doctor_address" required [(ngModel)]="doctor.doctor_address" name="doctor_address">
      </div>

      <div class="form-group">
        <label for="hospital_name">Hospital Name</label>
        <input type="text" class="form-control" id="hospital_name" required [(ngModel)]="doctor.hospital_name" name="hospital_name">
      </div>

      <div class="form-group">
        <label for="about">About</label>
        <input type="text" class="form-control" id="about" required [(ngModel)]="doctor.about" name="about">
      </div>

      <div class="form-group">
        <label>Profile Picture?</label><br>
        <input type="radio"  id="true" [(ngModel)]="doctor.profile_picture" name="profile_picture" value=true>
        <label for="true">True</label><br>
        <input type="radio" id="false" [(ngModel)]="doctor.profile_picture" value=false name="profile_picture">
        <label for="false">False</label><br>
      </div>


      <button type="submit" class="btn btn-success">Submit</button>
    </form>

</div>

  <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
  </div>
</div>
